Mycelium.SDK/AutoGenDTO/*.cs text eol=crlf
Mycelium.SDK/AutoGenEnum/*.cs text eol=crlf
Mycelium.SDK.CodeGenerator.Tests/Expected/UML/AutoGenDTO/*.cs text eol=crlf
Mycelium.SDK.CodeGenerator.Tests/Expected/UML/AutoGenEnum/*.cs text eol=crlf